*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: 0;
    font-weight: 400;

}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
.one{
    padding-top: 10px;
    color: rgb(221, 23, 158);
    text-transform: uppercase;
    text-decoration-line: overline;
}
body{
    background-color: rgb(74, 128, 78);
}
.main_title{
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(240, 174, 31);


}
.sub_title{
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(73, 175, 15);

}
#content{

    background-color: rgb(193, 139, 38);
}
.first_one{
    background-color: rgb(193, 139, 38);
    text-transform: capitalize;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: justify;
    font-family: 'Trebuchet MS';

}
.second_one{
    background-color: rgb(193, 38, 175);
    text-transform: capitalize;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: justify;

}